.navBar {
    background-color: #58249C;
    padding: 1.25em;
    color: white;
}

.navBar nav {
    display: grid;
    grid-template-columns: 25% 50% 15%;
    align-items: center;
    column-gap: 5%;
}

.brand {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.createRecipe {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    border: 2px solid white;
    border-radius: 6px;
    padding: 0.4em;
    transition: 0.5s;
    text-align: center;

}

.createRecipe:hover {
    background-color: white;
    color: black
}